<!-- Footer -->
<footer class="text-light bg-dark py-4">
    <div class="container">
        <div class="row">
            <!-- About -->
            <div class="col-md-4">
                <h5>Sobre Nosotros</h5>
                <p>K & C Tecnology es una empresa dedicada a desarrollar soluciones de software personalizadas para
                    nuestros clientes.</p>
            </div>
            <!-- Quick Links -->
            <div class="col-md-4">
                <h5>Enlaces Rápidos</h5>
                <ul class="list-unstyled">
                    <li><a href="#services" class="text-light text-decoration-none">Servicios</a></li>
                    <li><a href="#technologies" class="text-light text-decoration-none">Tecnologías</a></li>
                    <li><a href="#objective" class="text-light text-decoration-none">Objetivo</a></li>
                </ul>
            </div>
            <!-- Contact -->
            <div class="col-md-4">
                <h5>Contáctanos</h5>
                <ul class="list-unstyled">
                    <li>Email: kctecnologysas@gmail.com</li>
                    <li>Tel: +57 320 411 6945</li>
                    <li>Dirección: Montelibano, Cordoba</li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-3">
            <p class="mb-0">© 2025 K & C Tecnology. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>