<app-navbar></app-navbar>

<!-- Sección principal centrada con fondo negro -->
<section class="centered-section">
    <h2>Sobre Nosotros</h2>
    <p>
        En Queens K & C Tecnologi, nuestra misión es brindar soluciones
        personalizadas a través de tecnología moderna. Trabajamos con dedicación y
        profesionalismo para impulsar los negocios de nuestros clientes.
    </p>
</section>

<!-- Secciones alternas con imágenes -->
<section class="content-section right">
    <div class="text">
        <h3>Misión</h3>
        <p>
            En K & C Digital Services, nuestra misión es transformar la tecnología en un aliado estratégico para nuestros clientes,
            ofreciendo soluciones innovadoras en desarrollo de software y servicios TI. Nos comprometemos a potenciar la eficiencia,
            seguridad y crecimiento de las empresas a través de herramientas tecnológicas personalizadas y un servicio de excelencia.
        </p>
    </div>
     <img src="assets/img/mision.png" alt="Misión"> 
</section>

<section class="content-section left">
     
    <div class="text">
        <h3>Visión</h3>
        <p>
            Ser reconocidos en Colombia y América Latina como un referente en desarrollo y servicios TI,
            destacándonos por nuestra capacidad de innovación, calidad en el servicio y compromiso con la transformación digital de las empresas.
            Aspiramos a liderar el mercado, impulsando el desarrollo tecnológico y contribuyendo al éxito sostenible de nuestros clientes.
        </p>
    </div>
    <img src="assets/img/vision.png" alt="Visión">
</section>

<section class="content-section right">
    <div class="text">
        <h3>Objetivo</h3>
        <p>
            Innovar continuamente, garantizar la satisfacción del cliente y cumplir
            con estándares altos de calidad.
        </p>
    </div>
    <!-- <img src="assets/img/objetivo.jpg" alt="Objetivo">-->
</section>


<app-footer></app-footer>
