<div class="container mt-5 pt-4">
    <h2>Sobre Nosotros</h2>
    <p>
        En Queens K & C Tecnologi, nuestra misión es brindar soluciones
        personalizadas a través de tecnología moderna. Trabajamos con dedicación y
        profesionalismo para impulsar los negocios de nuestros clientes.
    </p>
    <h3>Misión</h3>
    <p>
        Desarrollar tecnologías de calidad que solucionen las necesidades de
        nuestros clientes.
    </p>
    <h3>Visión</h3>
    <p>
        Convertirnos en líderes de innovación tecnológica, transformando ideas en
        realidades digitales.
    </p>
    <h3>Objetivo</h3>
    <p>
        Innovar continuamente, garantizar la satisfacción del cliente y cumplir
        con estándares altos de calidad.
    </p>
</div>